# Ignore unnecessary files
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

*.swp
.DS_Store
venv/
.env

# Ignore CSV files
*.csv

# Ignore PNG files
*.png

# Ignore results directory 
results/

# Optional: Ignore log files
*.log

# Ignore the entire coding directory
coding/

# Ignore file in the parent directory
../create_dir_files.py
